<h1>{{title}}</h1>

<fieldset>
	<legend>New Client</legend>

	<input type="text" placeholder="Name" id="name" name="name" maxlength="50" #name />
	<input type="password" placeholder="Code" id="alias" name="alias" maxlength="30" #alias />
	<input type="tel" placeholder="phone" id="phone" name="phone" maxlength="30" #phone />
	
	<!-- (click) passes input value to add() and then clears the input -->
	<button type="button" class="add-button" (click)="add(name.value, alias.value, phone.value); name.value=''; alias.value=''; phone.value=''">
    Add Client
	</button>
</fieldset>



<fieldset>
	<legend>Existing clients</legend>
		<ul class="clients">
		  <li *ngFor="let client of clients">
			<span class="col-sm-4">{{client.name}}</span>
			<!--Will display the secret code name				-->
			<!--<span class="col-sm-4">{{client.alias}}</span>	-->
			<span class="col-sm-4">{{client.phone}}</span>
		  </li>
		</ul>
</fieldset>